<div id="header">
  <h1>Elotracker</h1>
  <div class="description">
    Custom ELO rankings for everything
  </div>
</div>

<div id="content">
  <div class="section">
    <h2>What is ELO?</h2>
    <div class="content">
      A system developed for ranking Chess players based on relative strengths between players.

      For example, if you have two players, Dmitri and Gary, playing your game of choice.
      Dmitri has an ELO rating of 2500, which is very good.
      Gary has a rating of 1250, which is below average.
      
      If Dmitri beats Gary in a clean 1-0 victory, then the change in his rating is calculated as _________. Gary's change in rating is calculated as __________.

      Now suppose Gary upsets Dmitri in a 1-0 victory. Using the same calculation, Dmitri now loses _______ points and Gary gains ______ points. 

      Gary gains many more points because the ELO system awards points based on the relative strength of the two competitors.

      New players start out at an ELO ranking that is considered "average".
      In Chess, this inital ranking is 1500, but the number itself is arbitrary, and you can customize the starting number in Elotracker.
    </div>
  </div>

  <div class="section">
    <h2>What can you track with ELO?</h2>
    <div class="content">
      Anything that has matches between two players at a time, which you can assign a score to.

      These games all use ELO, or some variant of ELO, to rank players: 
      <ul>
        <li>Chess</li>
        <li>Go</li>
        <li>Table tennis</li>
        <li>Starcraft</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2>Things you can do with Elotracker</h2>
    <div class="content">
      <ul>
        <li>Internal company leaderboards and competitions</li>
      </ul>
    </div>
  </div>
</div>

<div id="sidebar">
  <h2>Create a new league</h2>
</div>
