/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "flutie";
@import "bourbon";
@import "960/grid";

// Mixins and variables
$space: 10px;
$happy-blue: #809fff;

@mixin bree-serif {
  font-family: "Bree Serif", arial, sans-serif;
  font-weight: normal;
}
@mixin droid-sans {
  font-family: "Droid Sans", arial, sans-serif;
}

// Grid layout
$ninesixty-grid-width: 720px;

body {
  @include grid_container;
}

#main-content {
  @include grid(8);
  @include clearfix;
}

#sidebar {
  @include grid(4);
  @include clearfix;
}

#footer {
  @include grid(12);
  @include clearfix;
}

// Global styles
h1, h2, h3, h4, h5, h6 {
  @include bree-serif;
}

body {
  @include droid-sans;
  font-size: 1em;
}

ul {
  list-style-type: square;
}

// Header and navigation
.header {
  @include grid(12);
  @include clearfix;
  margin-bottom: $space * 2;

  #logo {
    @include grid(8);
    @include alpha;

    .site-logo {
      @include bree-serif;
      font-size: 2em;
      float: left;
      text-decoration: none;
      color: $happy-blue;
    }
    .description {
      float: left;
      margin-top: $space;
      margin-left: $space;
    }
  }

  #links {
    @include grid(4);
    @include omega;
  }
}

// Homepage (TODO move)
#navigation {
  margin-top: $space;
}
