/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "flutie";
@import "bourbon";
@import "960/grid";

// Grid layout
$ninesixty-grid-width: 720px;

body {
  @include grid_container;
}

#wrapper {  // TODO rename to header
  @include grid(12);
  @include clearfix;
}

#header {
  @include grid(8);
  @include alpha;
}

#navigation {
  @include grid(4);
  @include omega;
}

#content {
  @include grid(8);
  @include clearfix;
}

#sidebar {
  @include grid(4);
  @include clearfix;
}

#footer {
  @include grid(12);
  @include clearfix;
}

// Global styles
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", arial, sans-serif;
}

ul {
  list-style-type: square;
}
